

 <a href="{% url 'accueil' %}">accueil</a>
<div class="">
    <h1 class="">titre: {{ appartement.titre }}</h1>
    <p class="">Quartier : {{ appartement.quartier }}</p>
    <p class="">{{ appartement.prix }} FCFA</p>
    <p class="">{{ appartement.description }}</p>
    <p class="">Contact propriétaire : {{ appartement.contact_proprietaire }}</p>

    {% if appartement.images.all %}
    <div class="">
        {% for image in appartement.images.all %}
        <img src="{{ image.image.url }}" class="">
        {% endfor %}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if user.role == 'ADMIN' or user == appartement.proprietaire %}
        <div class="">
            <a href="{% url 'modifier_appartement' appartement.id %}" class="">✏️ Modifier</a>
            
            <form method="post" action="{% url 'supprimer_appartement' appartement.id %}" onsubmit="return confirm('Supprimer cet appartement ?');">
                {% csrf_token %}
                <button type="submit" class="">🗑 Supprimer</button>
            </form>
        </div>
        {% endif %}
    {% endif %}
</div>

