
<div class="">
    <h1 class="">Modifier l'appartement</h1>

    <form method="post" class="">
        {% csrf_token %}
        <input type="text" name="titre" value="{{ appartement.titre }}" placeholder="Titre" class="">
        <input type="text" name="type_logement" value="{{ appartement.type_logement }}" placeholder="Type de logement" class="">
        <input type="text" name="quartier" value="{{ appartement.quartier }}" placeholder="Quartier" class="">
        <input type="number" name="prix" value="{{ appartement.prix }}" placeholder="Prix (FCFA)" class="">
        <textarea name="description" placeholder="Description" class="">{{ appartement.description }}</textarea>
        <input type="text" name="contact" value="{{ appartement.contact_proprietaire }}" placeholder="Contact propriétaire" class="">
        <input type="file" name="images" multiple class="">
        <button type="submit" class="">Modifier</button>
    </form>
</div>
